.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 10px 15px;
}
.freeBox__xGl8Y {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  top: 14px;
  left: 15px;
}
.freeBox__state_singularLeft__xGl8YWxnl3 {
  left: 15px;
}
.slotTargetCount {
  color: rgb(119, 119, 119) /* plasmic-token: naCHz_jNG3V */;
}
.text__b0Gx {
  color: rgb(119, 119, 119) /* plasmic-token: naCHz_jNG3V */;
}
.freeBox__sQVzB {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__sQVzB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__sQVzB > :global(.__wab_flex-container) > *,
.freeBox__sQVzB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sQVzB > :global(.__wab_flex-container) > picture > img,
.freeBox__sQVzB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.toggleButton__oCgt2:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  align-self: flex-start;
}
.toggleButton___1Jch:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  align-self: flex-start;
}
.toggleButton___1SnTy:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  align-self: flex-start;
}
.text__f8HvD {
  position: absolute;
  color: rgb(119, 119, 119) /* plasmic-token: naCHz_jNG3V */;
  left: 371px;
  top: 14px;
  cursor: pointer;
}
.text__state_hasCompleted__f8HvDVe2It {
  left: auto;
  right: 15px;
}
.footerContainer .text__f8HvD:hover {
  text-decoration-line: underline;
}
